@model MarketPlace.DataLayer.DTOs.Account.LoginUserDTO
@{
    ViewData["Title"] = "ورود";
}
@section scripts{
    <partial name="_JqueryValidators"/>
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li>
                            <a href="index.html">خانه</a>
                        </li>
                        <li>حساب کاربری</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-6 col-md-6" style="margin: auto">
                <div class="account_form register">
                    <h2>@ViewData["Title"]</h2>
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <p>
                            <label>موبایل <span>*</span></label>
                            <input asp-for="Mobile" type="text">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </p>
                        <p>
                            <label>رمز عبور <span>*</span></label>
                            <input asp-for="Password" type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>
                        <div class="login_submit">
                            <button type="submit"> ورود</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->