@model MarketPlace.DataLayer.DTOs.Account.RegisterUserDTO
@{
    ViewData["Title"] = "عضویت";
}

@section scripts{
    <partial name="_JqueryValidators"/>
    <partial name="_CaptchaScripts"/>
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li>
                            <a href="index.html">خانه</a>
                        </li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-6 col-md-6" style="margin: auto">
                <div class="account_form register">
                    <h2>@ViewData["Title"]</h2>
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <partial name="_CaptchaInput"/>
                        <p>
                            <label>نام<span>*</span></label>
                            <input asp-for="FirstName" type="text">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </p>
                        <p>
                            <label>نام خانوادگی<span>*</span></label>
                            <input asp-for="LastName" type="text">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </p>
                        <p>
                            <label>موبایل<span>*</span></label>
                            <input asp-for="Mobile" type="text">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </p>
                        <p>
                            <label>رمز عبور <span>*</span></label>
                            <input asp-for="Password" type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>
                        <p>
                            <label>تایید رمز عبور <span>*</span></label>
                            <input asp-for="ConfirmPassword" type="password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </p>
                        <div class="login_submit">
                            <button type="submit">ثبت نام</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->