<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS 
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

@await Component.InvokeAsync("SiteHeader")
@RenderBody()
@await  Component.InvokeAsync("SiteFooter")

<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="/js/plugins.js"></script>

<!-- Main JS -->
<script src="/js/main.js"></script>


</body>

</html>